<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="card">
        <h1>Login</h1>
        <div class="form">
            <form action = "/users/login" method = "POST">
                <label>Username : </label> <input type="text" id="username" placeholder="username">
                <label>Password : </label> <input type="text" id="password" placeholder="password">
                <button type="submit">Log In</button>
                <a href="register.html" class = "button">Register</a>
            </form>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>